html,body{
    height: 100%;
    margin: 0;
    background-color: blanchedalmond;
}

#OpcionesBarra{
    position: absolute;
    top: 0;
    left: 0;
    background-color: oldlace;
    width: 100%;
    height: 300;
}